@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


.typewriter-text {
    overflow: hidden; /* Ensures the text is initially hidden */
    border-right: .15em solid white; /* Cursor effect | */
    white-space: nowrap; /* Keeps the text on one line */
    margin: 0 auto; /* Centers the text */
    letter-spacing: .15em; /* Adjusts spacing between letters */
    animation: typing 4.5s steps(30, end), blink-caret .75s step-end ; /* Typing animation duration and blinking cursor */
  }
  
  /* Typing animation */
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
  
  /* Blinking cursor animation */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

  .programming-logo {
    animation: rotateAnimation 8s linear infinite; /* Apply the rotate animation */
  }
  
  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
      transform: rotate(360deg); /* End rotation at 360 degrees */
    }
  }
  
  
  .placeholder-white::placeholder {
    color: white;
}



